<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpage</title>
    {{ style('app') }}
    {{ style('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700') }}
</head>
<body>
    <section>
        <div class="left">
            <ul>
                <li>Address: Near Public School Main Gate, Latifabad # 3, Hyderabad, Sindh.</li>
                <li>Phone: 022-2100007</li>
            </ul>
        </div>
        <div class="right">asdasd</div>
    </section>
</body>
</html>