<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('app') }}
</head>
<body>
  <section>
    <div class="scss"></div>
    <div class="scss"></div>
    <div class="scss"><p>AdonisJs simplicity will make you feel confident about your code</p></div>
  </section>
</body>
</html>
